@import "./login.scss";
@import "./spinner.scss";
@import "./users.scss";
@import "./vars.scss";

body {
  background: $darken_color;
  min-height: 100vh;
  color: #999;

  img {
    max-width: 100%;
    height: auto;
  }

  .main-navbar {
    background: linear-gradient(to right, $purple, $tomato);
  }

  .row {
    width: 100%;
    margin: auto;
  }

  .contents {
    padding-top: 30px;
  }

  .card {
    background-color: $dark_color;
  }
}
