@import "./vars.scss";

.users {
  position: relative;
  .user-info {
    p {
      margin: 0;
      font-size: 14px;
    }
  }

  .user-more-info {
    position: absolute;
    right: 10px;
    top: 5px;

    svg {
      color: $tomato;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
